body{
    background-color: black;
}

.img1{
    border: 5px solid white;
    padding: 10px;
}

.img2{
    border: 5px solid white;
    padding: 10px;
    margin-left: 180px;
}

.img3{
    border: 5px solid white;
    padding: 10px;
    margin-left: 360px;
}

h1{
    color: white;
}

p[id="1"]{
    color: white;
}

p[id="2"]{
    color: white;
    margin-left: 180px;
}

p[id="3"]{
    color: white;
    margin-left: 360px;
}

